[Unit]
Description=Netatalk Service
After=network.target auditd.service

[Service]
ExecStart=/usr/local/sbin/netatalk -d
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
Restart=on-failure
RestartPreventExitStatus=255
Type=notify

[Install]
WantedBy=multi-user.target
Alias=sshd.service